<div class="row">
    <div class="col-sm-10 mt-5">
        <div class="row">
            <div class="col-sm-3">
                <p><b>Повiдомлення</b></p>
            </div>
            <div class="col-sm-9 mt-1">
                <p>Об'єднання спiввласникiв багатоквартирного будинку "Родникова 9-А"</p>
                <p>ЄДРПОУ 40407124 р\р &#8470; 26003052218703, ПАТ КБ "Приватбанк", МФО 351533</p>
                <table style="width: 80%;">
                    <tbody>
                        <tr>
                            <td style="width: 30%;">Особ. рах &#8470; <%= account%></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2">Адреса: <%= adress %> ,кв <%= apt %></td>
                        </tr>
                    </tbody>
                </table>
                <table style="width: 100%;text-align: center;">
                    <tbody>
                        <tr>
                            <td style="width: 55%;">Вид платежу</td>
                            <td style="width: 10%;">мiсяць</td>
                            <td style="width: 10%;">рiк</td>
                            <td style="width: 25%;">Сума до сплати</td>
                        </tr>
                        <tr>
                            <td>Внесок на утримання будинку та прибудинкової території</td>
                            <td><%= date[1] %></td>
                            <td><%= date[2] %></td>
                            <td rowspan="2"><%= total %></td>
                        </tr>
                        <tr>
                            <td style="text-align: right;"><b>Всього до сплати</b></td>
                            <td colspan="2"></td>
                        </tr>
                    </tbody>
                </table>
                <p style="width: 75%;border-bottom: 2px solid black;">Пiдпис платника</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p>Квитанцiя на оплату комунальних послуг за</p>
                        <p style="text-align: right;font-weight: bold;font-size: x-large;"><%= date.toString(); %></p>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-2">
                                <b>Одержувач</b>
                            </div>
                            <div class="col-sm-10">
                                <span>Об'єднання спiввласникiв багатоквартирного будинку "Родникова 9-А" ЄДРПОУ 40407124 р\р &#8470; 26003052218703, ПАТ КБ "Приватбанк", МФО 351533</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <b>Платник</b>
                            </div>
                            <div class="col-sm-10">
                                <p><%= name %>, <%= adress%>, кв <%= apt%></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-3">&#8470; о/рахунка</div>
                    <div class="col-2" style="border: 2px solid black;text-align: right;"><b><%= account %></b></div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-3">Сальдо на 01.05.20</div>
                    <div class="col-2" style="text-align: right;"><%= balance %></div>
                </div>
            </div>
        </div>
        <div class="row">
            <table style="width: 100%;">
                <thead>
                    <tr>
                        <th style="width: 50%;">Вид платежу</th>
                        <th>Попер</th>
                        <th>Поточ</th>
                        <th>Тариф</th>
                        <th>Кiлькiсть</th>
                        <th>Сума</th>
                        <th>Субс.Пiльга</th>
                        <th>Нараховано</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(const type of types) { %>
                    <tr>
                        <% for(const celldata of type) { %>
                            <td> <%= celldata %></td>
                        <% } %>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7"><b>Нараховано</b></td>
                        <td><%= amount %></td>
                    </tr>
                    <tr>
                        <td colspan="7"><b>Сплачено</b></td>
                        <td><%= paid %></td>
                    </tr>
                    <tr>
                        <td style="width: 50%;"></td>
                        <td colspan="7"><b>До сплати : <%= balance %> + <%= amount %> - <%= total %> = <%= (parseFloat(balance.replace(',','.')) + parseFloat(amount.replace(',','.')) - parseFloat(total.replace(',','.'))).toFixed(2) %> </b></td>
                    </tr>
                    <tr>
                        <td colspan="8"><b>Сальдо на <%= date.join() %>р : <%= nbal %></b></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
</style>